{% extends 'base.html.twig' %}

{% block title %}Accueil - Forge de Héros{% endblock %}

{% block body %}
    <h1>Bienvenue sur la Forge de Héros !</h1>
    <p>Le meilleur endroit pour gérer vos personnages épiques.</p>
{% endblock %}