<form method="post" action="{{ path('app_character_class_delete', {'id': character_class.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character_class.id) }}">
    <button class="btn">Supprimer</button>
</form>
