{% extends 'base.html.twig' %}

{% block title %}Nouvelle race{% endblock %}

{% block body %}
    <h1>Créer une nouvelle race</h1>

    {{ include('race/_form.html.twig') }}

    <a href="{{ path('app_race_index') }}">retour à la liste</a>
{% endblock %}
