{% extends 'base.html.twig' %}

{% block title %}Modifier le groupe{% endblock %}

{% block body %}
    <h1>Modifier le groupe</h1>

    {{ include('party/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_party_index') }}">retour à la liste</a>

    {{ include('party/_delete_form.html.twig') }}
{% endblock %}
